---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"
import Button from "../components/Button.astro";
import Logo from "components/Logo.astro";
---

<Layout title="Home">
	<h1>Dreen: An elegant design.</h1>
	<Card>
		<p>aaaa</p>
	</Card>
	<br />
	<br />
	<br />
	<Button>Greet</Button>
</Layout>
