---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"
import Button from "../components/Button.astro";
import Logo from "components/Logo.astro";
import Fluff from "components/Fluff.astro";
---

<Layout title="Home">
	<div style="display: flex; align-items: center; justify-content: space-between;">
		<div>
			<img src="/big-logo.png" width="325" height="100" />
			<h1>An elegant design.</h1>
		</div>
		<Fluff />
	</div>
</Layout>

<style>
	#big-logo {
		
	}

	#big-logo * {
		position: relative;
	}
</style>