---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"
import Button from "../components/Button.astro"
import Logo from "components/Logo.astro"
import Fluff from "components/Fluff.astro"
import GifTree from "components/GifTree.astro"
---

<Layout title="Home">
	<div id="hero">
		<div>
			<img src="/big-logo.png" width="325" height="100" />
			<h1>An elegant design.</h1>
		</div>
		<Fluff />
	</div>

	<div id="intro">
		<GifTree />
		<div style="margin: 5px;">
			<p>
				Dreen is a graceful design language oriented for blog themes,
				personal websites, and tiny websites, etc.
			</p>
		</div>
	</div>

	<p>
		<strong>It's not for big and complicated web applications!</strong>
	</p><br />

	<p>
		This design is still being developed; if you love the face of it, I hope
		I can see you on <a
			target="_blank"
			href="https://github.com/zihan-ch/dreen"
			>the Github repo of Dreen.</a
		>
	</p>
</Layout>

<style>
	* {
		text-align: center;
		align-items: center;
	}

	#hero {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 10%;
	}

	#big-logo {
	}

	#big-logo * {
		position: relative;
	}

	#intro {
		display: flex;
		margin-bottom: 7%;
	}

	p {
		font-size: 1.35em;
		line-height: 1.45;
	}
</style>
