:root {
    --gsl: #edeec9ff; /* Green super light */
    --gl: #dde7c7ff; /* Green light */
    --gm: #bfd8bdff; /* Green medium */
    --gd: #98c9a3ff; /* Green dark */
    --gsd: #77bfa3ff; /* Green super dark */
}