article * {
    line-height: 1.5em;
    font-family: var(--serif);
}

article p, article li {
    font-size: 1.25rem;
}

#post-title {
    font-size: 2.3rem;
}

article h1 {
    font-size: 2rem;
}

article h2 {
    font-size: 1.8rem;
}

article h3 {
    font-size: 1.65rem;
}

article h4 {
    font-size: 1.5rem;
}

article h5 {
    font-size: 1.35rem;
}

article h6 {
    font-size: 1.3rem;
}
