---
---

<button class="button">
    <slot />
</button>

<style>
    .button {
        all: unset;
        padding: 0.6em;
        box-shadow: 8px 8px 8px -8px var(--cambridge-blue);
        border-radius: 0.5em;
        transition: all 235ms ease 0s;
        font-family: var(--sans);
        cursor: pointer;
        position: relative;
        overflow: hidden;
        font-size: 1.3em;
    }

    .button:hover {
        box-shadow: 2px 8px 8px -5px var(--cambridge-blue);
        transform: translate3d(0, 2px, 0);
        background-color: #bfd8bd22;
    }
</style>
