---
---

<div class="card">
    <slot />
</div>

<style>
    .card {
        padding: 10px;
        box-shadow: 15px 28px 25px -18px rgb(0 0 0 / 20%);
        border-radius: 10px;
        border: solid #8f8f8f4f 2px;
        transition: all 235ms ease 0s;
    }

    .card:hover {
        box-shadow: 2px 8px 8px -5px rgb(0 0 0 / 30%);
        transform: translate3d(0, 2px, 0);
    }
</style>