---
---

<div id="fluff">
	<img src="/fluff.png" height="200" />
</div>

<style>
	#fluff {
		display: flex;
		justify-content: center;
		margin: 70px;
	}

	#fluff img {
		box-shadow: 0px 0px 50px 55px var(--gl);
		background-color: var(--gl);
	}
</style>
